:root {
	--color-text: rgba(0, 0, 0, 0.87);
	--color-bg: #ffffff;
	--color-link: #646cff;
	--color-link-hover: #535bf2;
	--color-border: #ccc;
	--color-input-bg: #fff;
	--color-button-bg: #1a1a1a;
	--color-button-text: #fff;
	--font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--line-height: 1.5;
	--font-weight: 400;
}

/* Dark Theme */
[data-theme="dark"] {
	--color-text: #e0e0e0;
	--color-bg: #444;
	--color-link: #8ab4f8;
	--color-link-hover: #a3c0ff;
	--color-border: #444;
	--color-input-bg: #1a1a1a;
	--color-button-bg: #333;
	--color-button-text: #e0e0e0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-weight: var(--font-weight);
	color: var(--color-text);
	background-color: var(--color-bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

a {
	font-weight: 500;
	color: var(--color-link);
	text-decoration: inherit;
	transition: color 0.25s;
}
a:hover {
	color: var(--color-link-hover);
}

input {
	background-color: var(--color-input-bg);
	color: var(--color-text);
	border: 1px solid var(--color-border);
	border-radius: 4px;
	padding: 0.5em;
}

button {
	border-radius: 8px;
	border: 1px solid var(--color-border);
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: var(--font-family);
	background-color: var(--color-button-bg);
	color: var(--color-button-text);
	cursor: pointer;
	transition:
		border-color 0.25s,
		background-color 0.25s,
		color 0.25s;
}
button:hover {
	border-color: var(--color-link);
}

//classes
svg {
	display: block;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.text-center {
	text-align: center;
}

.rounded-circle {
	border-radius: 50%;
}

.hidden {
	display: none;
}

.transition-all {
	transition: all 0.25s ease-in-out;
}
