.AgeWidget-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	gap: 32px;
	padding: 20px;

	background: linear-gradient(
		172deg,
		rgba(151, 176, 232, 0.5) 10.15%,
		rgba(255, 255, 255, 0) 82.07%
	);

	border-radius: 16px;
	margin-top: -2px;

	@media (max-width: 1412px) {
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 12px;
	}
}

.AgeWidget-container::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 16px;
	padding: 1px;
	z-index: 0;

	background: linear-gradient(90deg, #94b2ec 0%, rgba(148, 178, 236, 0) 100%);
	-webkit-mask:
		linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask:
		linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
}
