@use "@/App/Styles/_mixins" as mixins;

.PlanTable-section {
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}

.PlanTable-section.PlanTable-section-animate {
	animation: fadeIn 1s ease-out forwards;
}

@keyframes slideOutAndIn {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	49% {
		transform: translateX(110%);
		opacity: 0;
	}
	50% {
		transform: translateX(-110%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.PlanTable-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.PlanTable-group-header {
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: rgba(81, 89, 103, 1);
	margin: 16px 0;
}

.PlanTable-rows {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
