.step-widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}

.step-item:not(:last-child) {
	display: flex;
	gap: 4px;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	flex-grow: 1;
}

.step-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.step-icon {
	display: flex;
	flex-wrap: 1;
	width: var(--Font-line-height-4XL, 40px);
	height: var(--Font-line-height-4XL, 40px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 32px;
	background: var(
		--Components-Steps-Global-colorFillContent,
		rgba(2, 20, 39, 0.06)
	);
}

.step-description {
	position: absolute;
	max-width: 300px;
}

.step-line {
	flex-grow: 1;
	height: 1px;
	background-color: #021427;
}

.selected-step-item {
	background: #d4def6;
}
