.Auth-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
}

.Auth-content {
	display: flex;
	padding: 24px;
	gap: 32px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	&-left {
		flex: 1;
		position: relative;

		&-background {
			width: auto;
			height: 100%;
			background: url("@assets/Auth/Background.png") no-repeat right bottom;
			background-position: 30%;
			transform: rotate(90deg);
			transform-origin: center center;
			background-size: cover;
			border-radius: 15px;
		}

		&-logo {
			width: 100%;
			height: 57px;
			position: absolute;
			top: 32px;
		}

		&-carousel-wrapper {
			width: 100%;
			position: absolute;
			top: 30%;
			display: flex;
			justify-content: center;
			color: white;
		}
	}

	&-right {
		flex: 1;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}

	&-form {
		width: 60%;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 8px;

		&-title {
			h2 {
				text-align: center;
				font-size: 24px;
				margin-bottom: 4px !important;
			}

			h4 {
				font-size: 16px;
				opacity: 0.5;
				margin-top: -8px !important;
			}
		}

		&-inputs {
			display: flex;
			flex-direction: column;
			gap: 4px;
			margin-top: 12px;

			input {
				padding: 12px;
				padding-left: 15px;
				margin-top: 5px;
				border-radius: 30px;
				border: 1px solid #ddd;
				font-size: 16px;
			}

			&-password-wrapper {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;

				input {
					width: 100%;
					padding: 12px;
					padding-left: 15px;
					margin-top: 5px;
					border-radius: 30px;
					border: 1px solid #ddd;
					font-size: 16px;
				}
			}

			&-password-hidden {
				position: absolute;
				right: 12px;
				top: 58%;
				transform: translateY(-50%);
				cursor: pointer;
			}
		}

		&-forgot-password {
			font-size: 16px;
			margin-top: 4px;
			display: flex;
			justify-content: flex-end;

			a {
				color: #00aaff;
			}
		}

		&-signup {
			text-align: center;
			margin-top: 20px;

			p {
				font-size: 14px;
			}

			a {
				color: #00aaff;
			}
		}

		&-signin-button {
			margin-top: 20px;
			background-color: #1f1f1f;
			color: white;
			border: none;
			border-radius: 20px;
			font-size: 16px;
			cursor: pointer;
			transition: background-color 0.3s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;

			&:hover {
				background-color: #0088cc;
			}
		}
	}

	@media (max-width: 920px) {
		flex-direction: column;
	}
}
