@use "@/App/Styles/_mixins" as mixins;

.SystemDetailWidget-container {
	display: none;
	flex-direction: column;
	gap: 8px;
	overflow: hidden;

	margin-top: 0;
	animation: expand 1.2s ease-in;
}

.SystemDetailWidget-container-collapse {
	overflow: hidden;
	animation: collapse 0.8s ease;
	max-height: 0;
	margin-top: 0;
}

.SystemDetailWidget-container-expand {
	display: flex;
}

@keyframes expand {
	0% {
		opacity: 0;
		max-height: 0;
		margin-top: -16px;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		max-height: 400px;
		margin-top: 0px;
	}
}

@keyframes collapse {
	0% {
		display: flex;
		opacity: 1;
		max-height: 400px;
		margin-top: 0px;
	}
	// 99.9% {
	// 	display: flex;
	// }
	100% {
		opacity: 0;
		max-height: 0;
		display: none;
		margin-top: -16px;
	}
}

.SystemDetailWidget-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.SystemDetailWidget-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	color: #21262e;
}

.SystemDetailWidget-report {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.SystemDetailWidget-report-text {
	color: rgba(0, 89, 219, 1);
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

.SystemDetailWidget-report-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.SystemDetailWidget-body {
	margin: 0;
	color: #5f6877;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
