@import "../../../../App/Styles/_mixins.scss";

.ConcernsCard-card {
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-radius: 8px;
	padding: 12px;
	background: linear-gradient(0deg, #f7f9fc, #f7f9fc);
}

.ConcernsCard-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.ConcernsCard-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	width: 32px;
	height: 32px;
	background: rgba(228, 235, 249, 1);
}

.ConcernsCard-status {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	padding: 4px 8px 4px 6px;
	border-radius: 24px;
	background-color: #ffffff;
	position: relative;

	&:hover {
		background-color: #f3f3f3;
	}

	&-red {
		.ConcernsCard-status-exclamation {
			background-color: rgba(231, 72, 80, 1);
		}
	}

	&-orange {
		.ConcernsCard-status-exclamation {
			background-color: rgba(255, 135, 24, 1);
		}
	}

	&-green {
		.ConcernsCard-status-exclamation {
			background-color: rgb(108, 202, 108);
		}
	}
}

.ConcernsCard-status::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 24px;
	padding: 1px;

	background: linear-gradient(
		90deg,
		rgba(148, 178, 236, 0.6) 0%,
		rgba(148, 178, 236, 0.2) 100%
	);
	-webkit-mask:
		linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask:
		linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
}

.ConcernsCard-status-exclamation {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	color: white;
}

.ConcernsCard-status-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(11, 16, 26, 1);
}

.ConcernsCard-status-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}

.ConcernsCard-body-title {
	color: rgba(31, 44, 35, 1);
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.ConcernsCard-body {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.ConcernsCard-body-description {
	color: rgba(95, 104, 119, 1);
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}

.ConcernsCard-description-open {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.ConcernsCard-highlight-red {
	color: rgba(204, 64, 71, 1);
}

.ConcernsCard-factors {
	margin: 0;
	padding: 0 10%;
}

.ConcernsCard-show {
	color: rgba(0, 89, 219, 1);
	cursor: pointer;
}

.ConcernsCard-hide {
	align-self: center;
	color: rgba(0, 89, 219, 1);
	cursor: pointer;
}
