.import-upload-container {
	display: flex;
	padding-bottom: var(--space-32-px-2-rem, 64px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--112-px-7-rem, 112px);
	flex: 1 0 0;
	align-self: stretch;
}
