.notification-button {
	display: flex;
	width: 36px;
	height: 36px;
	padding: 8px;
	justify-content: center;
	align-items: center;

	border-radius: 99px;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(1px);

	.badge {
		border-radius: 100px;
		position: absolute;
		left: 18px;
		top: 5px;
		width: 8px;
		height: 8px;
		background-color: #fe303b;
		border: 1px solid #fff;
	}
}
