@use "@/App/Styles/_mixins" as mixins;

.SymptomsList-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.SymptomsList-head {
	color: rgba(81, 89, 103, 1);
	font-size: 10px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.SymptomsList-description {
	color: rgba(33, 38, 46, 1);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.SymptomsList-list {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 4px;
}

.SymptomsList-symptom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	padding: 4px 8px;
	border-radius: 100px;
	background: linear-gradient(293deg, rgba(255, 255, 255, 0.7) 0.1%, #fff 100%);

	color: rgba(33, 38, 46, 1);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	&-hidden {
		position: absolute;
		visibility: hidden;
	}
}

.SymptomsList-symptom-overflow {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	padding: 4px 8px;
	border-radius: 100px;
	background: linear-gradient(293deg, rgba(255, 255, 255, 0.7) 0.1%, #fff 100%);

	color: rgba(33, 38, 46, 1);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
