@use "@/App/Styles/_mixins" as mixins;

.SystemOverview-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.SystemOverview-dt-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}

.SystemOverview-content {
	display: flex;
	padding: 12px 24px;
	gap: 32px;
	width: 100%;
	height: calc(100vh - 60px);
	box-sizing: border-box;

	@media (max-width: 920px) {
		flex-direction: column;
	}
}

.SystemOverview-model {
	width: 100%;
	height: 100%;
	position: relative;
}

.SystemOverview-stats {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 51%;
	height: 100%;
	padding-bottom: 0;
	padding-left: 8px;
	overflow-x: hidden;
	overflow-y: auto;

	&.animate > * {
		animation: slideOutAndIn 1.5s ease-out forwards;
	}

	@media (max-width: 920px) {
		width: 100%;
		&.animate > * {
			animation: slideOutAndInMobile 1.5s ease-out forwards;
		}
	}

	@for $i from 1 through 10 {
		> *:nth-child(#{$i}) {
			animation-delay: calc(0s + ($i - 1) * 0.12s);
		}
	}

	direction: rtl;

	> * {
		direction: ltr;
	}

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background-color: #f0f0f0;
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(52, 120, 246, 0.5);
		border-radius: 4px;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(20, 89, 219, 0.5);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOutAndIn {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOutAndInMobile {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateX(100%);
		opacity: 0;
	}
	51% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.SystemOverview-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.SystemOverview-title {
	color: rgba(33, 38, 46, 1);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	margin: 0;
}

.SystemOverview-widget-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-self: stretch;
}

.SystemOverview-widget-head {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-self: stretch;
}

.SystemOverview-widget-title-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.SystemOverview-widget-title {
	color: rgba(33, 38, 46, 1);
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	margin: 0;
}

.SystemOverview-widget-desc {
	color: rgba(81, 89, 103, 1);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
}

.SystemOverview-concern-cards {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(2, 1fr);
}

.SystemOverview-more {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	cursor: pointer;
}

.SystemOverview-more-text {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #3b8df5;
	margin: 0 auto;
}

.SystemOverview-chevron-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 5px;
}

.SystemOverview-chevron {
	transition: transform 0.3s ease;

	path {
		fill: rgba(59, 141, 245, 1);
	}
}

.rotate-chevron {
	transform: rotate(180deg);
}

.padding-top {
	padding-top: 16px;
}
