.process-modal-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(12, 23, 38, 0.8);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	top: 0;
	left: 0;
}

.modal-body {
	display: flex;
	width: 385px;
	padding: var(--rithm-XL, 40px);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--rithm-XL, 40px);
	flex-shrink: 0;
	border-radius: var(--layout-sign-in_up-radius, 16px);
	border: 1px solid #e7ecf2;
	background: #fff;
	box-shadow:
		0px 33px 47px 0px rgba(0, 72, 115, 0.07),
		0px 7.371px 10.498px 0px rgba(0, 72, 115, 0.04),
		0px 2.195px 3.126px 0px rgba(0, 72, 115, 0.03);
	position: relative;
	animation: slideInFromTop 0.3s ease-out;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

.modal-header {
	display: flex;
	padding: 8.739px 17.479px;
	flex-direction: column;
	align-items: flex-start;
	gap: 6.992px;
}

.background-image {
	width: 139.832px;
	height: 139.832px;
	position: absolute;
	top: 18px;
	left: 18px;
	background: url("@assets/General/ProcessModalBackground.png");
	background-blend-mode: soft-light, normal;
	border-radius: 139.832px;
}

.modal-title {
	color: var(--Neutral-text, #0b101a);

	font-family: var(--font-family-title, Inter);
	font-size: var(--font-size-3xl, 24px);
	font-style: normal;
	font-weight: var(--font-weight-light-400, 400);
	line-height: var(--font-line-hight-2xl, 32px);
	letter-spacing: -0.48px;
	animation: fadeIn 0.4s ease-out;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.modal-title-emphasize {
	color: var(--Neutral-text, #0b101a);

	font-family: var(--font-family-title, Inter);
	font-size: var(--font-size-3xl, 24px);
	font-style: normal;
	font-weight: var(--font-weight-semibold-600, 600);
	line-height: var(--font-line-hight-2xl, 32px);
	letter-spacing: -0.48px;
}

.modal-description {
	align-self: stretch;
	color: var(--p-color-text, rgba(81, 89, 103, 1));

	font-family: var(--Font-family-body, Inter);
	font-size: var(--Font-size-S, 14px);
	font-style: normal;
	font-weight: 400;
	line-height: var(--Font-line-height-M, 20px);
	animation: fadeIn 0.4s ease-out;
	animation-delay: 0.4s; /* Stagger delay */
	animation-fill-mode: both;
}

.modal-policy {
	display: flex;
	align-items: flex-start;
	gap: var(--space-4-px-025-rem, 4px);
	align-self: stretch;
	color: var(--p-color-text);

	font-family: var(--Font-family-body, Inter);
	font-size: var(--Font-size-S, 14px);
	font-style: normal;
	font-weight: 400;
	line-height: var(--Font-line-height-M, 20px);
	animation: fadeIn 0.4s ease-out;
	animation-delay: 0.6s; /* Stagger delay */
	animation-fill-mode: both;
}

.modal-policy-checkbox {
	display: flex;
	padding: var(--space-2-px-0125-rem, 2px);
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	transition: transform 0.2s ease;
}

.modal-footer {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	align-self: stretch;
	animation: fadeIn 0.4s ease-out;
	animation-delay: 0.8s;
	animation-fill-mode: both;

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex: 1 0 0;
		border-radius: 999px;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		transition:
			transform 0.2s ease,
			background-color 0.3s ease;
	}

	.cancel {
		border: 1px solid #bfc3c1;
		background: rgba(255, 255, 255, 0.12);
		color: rgba(33, 38, 46, 1);

		&:hover {
			border-radius: var(
				---Buttons-and-Inputs-button-border-radius-primary,
				999px
			);
			border: 1px solid var(--Text-weaker, #bfc3c1);
			background: var(
				--p-color-bg-fill-transparent-hover,
				rgba(246, 246, 248, 1)
			);
		}

		&:active {
			border-radius: var(
				---Buttons-and-Inputs-button-border-radius-primary,
				999px
			);
			border: 1px solid var(--Text-weaker, #bfc3c1);
			background: var(
				--p-color-bg-fill-transparent-active,
				rgba(108, 117, 132, 0.2)
			);
		}
	}

	.confirm {
		color: rgba(239, 240, 241, 1);
		border-radius: var(
			---Buttons-and-Inputs-button-border-radius-primary,
			999px
		);
		border: none;

		&:hover {
			border-radius: var(
				---Buttons-and-Inputs-button-border-radius-primary,
				999px
			);
			background: var(--p-color-bg-fill-inverse-active, rgba(54, 60, 71, 1));
		}

		&:active {
			border-radius: var(
				---Buttons-and-Inputs-button-border-radius-primary,
				999px
			);
			background: var(--p-color-bg-fill-inverse, rgba(33, 38, 46, 1));
		}
	}

	.confirm-disabled {
		background: var(--p-color-bg-fill-transparent, rgba(108, 117, 132, 0.12));
		color: var(--p-color-text-disabled, rgba(143, 149, 160, 1));

		font-family: var(--Font-family-body, Inter);
		font-size: var(--Font-size-S, 14px);
		font-style: normal;
		font-weight: 600;
		line-height: var(--Font-line-height-M, 20px); /* 142.857% */

		&:hover {
			background: var(--p-color-bg-fill-transparent, rgba(108, 117, 132, 0.12));
		}
	}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
