.ConnectWatchWidget-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	gap: 8px;
	padding: 13px 16px;
	border-radius: 12px;
	z-index: 1;
	background: linear-gradient(
		88.73deg,
		rgba(255, 95, 168, 0) 6.5%,
		rgba(255, 95, 168, 0.13) 42.17%,
		rgba(255, 40, 27, 0.13) 100%
	);
	overflow: hidden;

	@media (max-width: 1248px) {
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 12px;
	}
}

.ConnectWatchWidget-container::before {
	content: "";
	position: absolute;
	width: 139px;
	height: 113px;
	background-image: url("../../assets/ConnectWatchWidget/Heart-bg.svg");
	background-size: contain;
	background-repeat: no-repeat;
	top: 6px;
	right: 0px;
	z-index: 0;
	pointer-events: none;

	@media (max-width: 1248px) {
		top: 41%;
	}
}

.ConnectWatchWidget-container::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 12px;
	padding: 1px;
	border: 1px solid;
	z-index: 0;

	border-image-source: linear-gradient(
		88.73deg,
		rgba(255, 40, 27, 0.5) 0%,
		rgba(255, 95, 168, 0.5) 100%
	);
	background: linear-gradient(
		88.73deg,
		rgba(255, 40, 27, 0.5) 0%,
		rgba(255, 95, 168, 0.5) 100%
	);
	-webkit-mask:
		linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask:
		linear-gradient(white, white) content-box,
		linear-gradient(white, white);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
}

.ConnectWatchWidget-left {
	display: flex;
	flex-direction: row;
	gap: 8px;
	z-index: 1;
}

.ConnectWatchWidget-heart-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ConnectWatchWidget-title {
	color: #1f2c23;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.ConnectWatchWidget-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: #ffffff;
	padding: 8px 12px;
	border-radius: 100px;
	box-shadow: 0px 4px 14px 0px #6b161630;
	z-index: 1;
	transition: all 0.2s ease;

	&:hover {
		background-color: #f5eeee;
		// border-color: rgba(255, 95, 168, 0.7);
		border-color: rgba(255, 40, 27, 0.6);
		transform: scale(1.05, 1.1);
	}

	&:active {
		transform: scale(0.98);
	}
}

.ConnectWatchWidget-button-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #0b101a;
	text-wrap: nowrap;
}

.ConnectWatchWidget-button-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
