.Tabs-container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	padding: 24px;
	gap: 20px;
}

.Tabs-tabs {
	display: flex;
	flex-direction: row;
	background: rgba(95, 104, 119, 0.18);
	border-radius: 24px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	padding: 2px;
	display: flex;
	height: 36px;
	width: fit-content;
}

.Tabs-tab {
	background-color: transparent;
	border-radius: 20px;
	padding: 4px 16px;
	color: rgba(95, 104, 119, 1);
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	transition: all 0.2s ease;

	&:hover {
		color: rgba(11, 16, 26, 1);
		background-color: #ebebeb;
		box-shadow: 0px 2px 4px 1px rgba(20, 28, 44, 0.01);
		border-color: transparent;
		// transform: scale(1.01);
	}
}

.active {
	color: rgba(11, 16, 26, 1);
	background-color: #ffffff;
	box-shadow: 0px 2px 4px 1px rgba(20, 28, 44, 0.04);
}
