.icon-button {
	height: 36px;
	width: 36px;
	background-color: #e2e6ef80 !important;
	border: 1px solid #5f68771f !important;
	border-radius: 10px !important;
	cursor: pointer !important;

	span {
		min-width: 20px;
		min-height: 20px;
		max-width: 20px;
		max-height: 20px;
		color: #0974fb !important;
		border-radius: 100%;
		z-index: 100000;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-bottom: -15px;
		margin-left: 15px;
	}
}

.icon-button:hover svg path {
	fill: #0974fb;
}
