.icon-button {
	height: 36px;
	width: 36px;
	background-color: #e2e6ef80 !important;
	border: 1px solid #5f68771f !important;
	border-radius: 10px !important;
	cursor: pointer !important;
	background: linear-gradient(276deg, #cee3fc 6.89%, #fcfdfd 98.53%);

	svg {
		width: 22px;
		height: 22px;
	}
}

.icon-button:hover svg path {
	fill: #0974fb;
}
