.connect-app-device-container {
	display: flex;
	padding-bottom: var(--space-32-px-2-rem, 64px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--112-px-7-rem, 112px);
	flex: 1 0 0;
	align-self: stretch;
	animation: slideInFromRight 1s ease-out forwards;
}

.connect-app-device {
	display: flex;
	width: 1018px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 16px;
	border-radius: 20px;
	border: 1px solid #e7ecf2;
	border-radius: 20px;
	background: #e4ebf9;
	animation: fadeIn 1s ease-in-out;

	.header {
		display: flex;
		padding: var(--layout-modal-margins-top_bottom, 16px)
			var(--layout-modal-margin-right_left, 20px);
		flex-direction: row;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		justify-content: space-between;
		animation: slideInHeader 1s ease-out forwards;

		.action-wrapper {
			width: 100%;
			display: flex;
			gap: var(--rithm-S, 8px);

			.back {
				display: flex;
				padding: 4px 0px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				transition: all 0.3s ease;
			}

			.title {
				display: flex;
				min-height: 36px;
				align-items: center;
				gap: var(--rithm-S, 8px);
				align-self: stretch;
				justify-content: center;
				align-items: center;

				color: var(--Neutral-text, #0b101a);
				/* actions/title/H3 SB */
				font-family: var(--font-family-title, Inter);
				font-size: var(--font-size-2xl, 20px);
				font-style: normal;
				font-weight: var(--font-weight-semibold-600, 600);
				line-height: var(--font-line-hight-xl, 24px); /* 120% */
				letter-spacing: -0.4px;
				animation: titleAnimation 1.5s ease-out 0.3s forwards;
			}
		}

		.close {
			display: flex;
			cursor: pointer;
			padding: var(---Buttons-and-Inputs-sm-p, 8px);
			justify-content: center;
			align-items: center;
			gap: var(---Buttons-and-Inputs-sm-gap, 8px);
			border-radius: var(
				---Buttons-and-Inputs-button-border-radius-primary,
				999px
			);
			background: var(--p-color-bg-fill-transparent, rgba(108, 117, 132, 0.12));
			transition: all 0.3s ease;
		}

		.close:hover {
			background-color: rgba(59, 141, 245, 0.24);
			transform: scale(1.1);
			border-radius: 50%;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideInHeader {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
