@use "@/App/Styles/_mixins" as mixins;

.ConcernWidget-wrapper {
	display: flex;
	flex-direction: column;
}

.ConcernWidget-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ConcernWidget-tab {
	background-color: #ffffff;
	border-top-left-radius: 8px;
	padding: 6px 10px 3px 20px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #0b101a;
	position: relative;
	overflow: hidden;
	border-left: 1px solid rgba(149, 179, 233, 1);
	border-top: 1px solid rgba(149, 179, 233, 1);
}

// .ConcernWidget-tab::before {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	right: -1%;
// 	width: 42px;
// 	height: 32px;
// 	background-color: white;
// 	rotate: (180deg);
// 	clip-path: path(
// 		"M27.6765 26.1497C29.6509 29.1127 32.4968 31.3123 35.75 32.5H0.5V0.5H2.28706C7.47069 0.5 12.3112 3.09122 15.1857 7.40487L27.6765 26.1497Z"
// 	);
// }

.ConcernWidget-tab-container {
	display: flex;
	flex-direction: row;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 1px;
		bottom: -1px;
		width: calc(100% - 1px);
		height: 1px;
		background-color: white;
	}
}

.ConcernWidget-more {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	cursor: pointer;
}

.ConcernWidget-more-text {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #493ddd;
	margin: 0 auto;
}

.ConcernWidget-chevron-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 5px;
}

.ConcernWidget-chevron {
	transition: transform 0.3s ease;
}

.rotate-chevron {
	transform: rotate(180deg);
}

.ConcernWidget-cards-layout {
	display: grid;
}

.ConcernWidget-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: #e4ebf9;
	padding: 10px 14px;
	border-radius: 0px 8px 8px 8px;
	border: 1px solid rgba(149, 179, 233, 1);
	overflow: hidden;
	transition:
		max-height 1s ease,
		padding 0.5s ease-in-out;
}

.ConcernWidget-concern-cards {
	gap: 12px;
	grid-template-columns: repeat(3, 1fr);
	// max-height: 0;

	&-hidden {
		animation: slideOut 2s ease;
		transform: translateX(-100%);
		display: none;
	}

	&-visible {
		animation: slideIn 2s ease;
		transform: translateX(0%);
		display: grid;
	}
}

.ConcernWidget-detail-cards {
	gap: 12px;
	grid-template-columns: repeat(3, 1fr);

	&-visible {
		animation: slideIn 2s ease;
		transform: translateX(0%);
		display: grid;
	}

	&-hidden {
		animation: slideOut2 2s ease;
		transform: translateX(-102%);
		display: grid;
		max-height: 0;
		// max-height: calc(fit-content + 10px);
	}
}

// @keyframes slideOut {
// 	0% {
// 		max-height: 0;
// 		display: grid;
// 		transform: translateX(0%);
// 	}
// 	100% {
// 		max-height: 0;
// 		transform: translateX(-102%);
// 	}
// }

// @keyframes slideOut2 {
// 	0% {
// 		max-height: calc(fit-content + 10px);
// 		transform: translateX(0%);
// 	}
// 	100% {
// 		max-height: calc(fit-content + 10px);
// 		display: grid;
// 		transform: translateX(-102%);
// 	}
// }

// @keyframes slideIn {
// 	0% {
// 		// max-height: calc(fit-content);
// 		display: grid;
// 		transform: translateX(100%);
// 	}
// 	100% {
// 		// max-height: calc(fit-content);
// 		transform: translateX(0%);
// 	}
// }

.ConcernWidget-reasons {
	// width: 100%;
	overflow: hidden;
	max-height: 0;
	// display: none;

	&-visible {
		// display: block;
		max-height: fit-content;
		animation: expand 2s ease;
	}

	&-hidden {
		// animation: collapse 1s ease;
	}
}

@keyframes expand {
	0% {
		max-height: 0;
	}
	100% {
		max-height: 300px;
	}
}

@keyframes collapse {
	0% {
		max-height: 300px;
	}
	100% {
		max-height: 0;
	}
}
