.upload-body {
	display: flex;
	width: 754px;
	padding: var(--rithm-XL, 40px);
	align-items: flex-start;
	gap: 24px;
	border-radius: var(--Font-size-M, 16px);
	border: 1px solid #e7ecf2;
	background: #fff;
	flex-direction: column;

	/* Elevation/sm */
	box-shadow:
		var(--Elevations-sm-1-X, 0px) var(--Elevations-sm-1-Y, 2px)
			var(--Elevations-sm-1-Blur, 2px) var(--Elevations-sm-1-Spread, 0px)
			rgba(19, 22, 29, 0.06),
		var(--Elevations-sm-2-X, 0px) var(--Elevations-sm-2-Y, 2px)
			var(--Elevations-sm-2-Blur, 4px) var(--Elevations-sm-2-Spread, 1px)
			rgba(19, 22, 29, 0.04);

	animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.info-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	.upload-info {
		display: flex;
		padding-bottom: var(--space-12-px-075-rem, 12px);
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
		width: 100%;

		.title {
			color: var(--Neutral-text, #0b101a);

			/* actions/title/H2 SB */
			font-family: var(--font-family-title, Inter);
			font-size: var(--font-size-3xl, 24px);
			font-style: normal;
			font-weight: var(--font-weight-semibold-600, 600);
			line-height: var(--font-line-hight-2xl, 32px); /* 133.333% */
			letter-spacing: -0.48px;
		}

		.description {
			color: var(--p-color-text, rgba(81, 89, 103, 1));

			/* body/md/regular */
			font-family: var(--Font-family-body, Inter);
			font-size: var(--Font-size-S, 14px);
			font-style: normal;
			font-weight: 400;
			line-height: var(--Font-line-height-M, 20px); /* 142.857% */
		}
	}

	.upload-items {
		width: 100%;
	}
}

.bottom-side {
	display: flex;
	padding: var(--space-16-px-1-rem, 16px);
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid var(--Background---medium, #e4ebf9);
	background: linear-gradient(90deg, #21262e 0%, #363c47 100%);
	backdrop-filter: blur(1.5px);
	justify-content: space-between;
	transition: background 0.3s ease;

	.icon-wrapper {
		display: flex;
		align-items: flex-start;
		gap: 8px;
		flex: 1 0 0;
		padding: 12px;

		background: url("@assets/General/UploadBottomBg.svg") no-repeat;
		background-size: cover;
	}

	.content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: var(--space-12-px-075-rem, 8px);

		.info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			align-self: stretch;
			gap: 12px;

			.title {
				color: var(--p-color-text, rgba(239, 240, 241, 1));

				font-family: var(--Font-family-heading, Inter);
				font-size: var(--Font-size-L, 18px);
				font-style: normal;
				font-weight: 600;
				line-height: var(--Font-line-height-XL, 28px);
			}

			.description {
				color: var(--p-color-text, rgba(164, 169, 177, 1));

				font-family: var(--Font-family-body, Inter);
				font-size: var(--Font-size-S, 14px);
				font-style: normal;
				font-weight: 400;
				line-height: var(--Font-line-height-M, 20px);
			}
		}
	}

	.img-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		gap: 8px;

		.wrapper {
			display: flex;
			padding-top: 4px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 7px;
			border-radius: 8px;
			border: 1px solid var(--neutral-border-border-weak, #444b57);

			.img {
				display: flex;
				width: 99px;
				padding-top: 4.378px;
				justify-content: center;
				align-items: center;
				opacity: 0.5;
			}

			.title {
				display: flex;
				padding: 4px 7px;
				justify-content: center;
				align-items: center;
				gap: 8px;
				background: var(
					--p-color-bg-fill-transparent-hover,
					rgba(241, 241, 242, 0.12)
				);
				color: var(--p-color-text, rgba(164, 169, 177, 1));
				font-family: var(--Font-family-body, Inter);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
			}
		}
	}
}

.order-test-btn {
	display: flex;
	padding: var(---Buttons-and-Inputs-sm-py, 8px)
		var(---Buttons-and-Inputs-sm-px, 12px);
	justify-content: center;
	align-items: center;
	gap: var(---Buttons-and-Inputs-sm-gap, 8px);
	background: #21262e;
	border-radius: var(---Buttons-and-Inputs-button-border-radius-primary, 999px);
	border: var(--Border-Width-thick, 1px) solid
		var(--p-color-icon-emphasis-hover, rgba(108, 170, 247, 1));
	color: var(--p-color-text-magic, rgba(108, 170, 247, 1));

	font-family: var(--Font-family-body, Inter);
	font-size: var(--Font-size-XS, 12px);
	font-style: normal;
	font-weight: 600;
	line-height: var(--Font-line-height-S, 16px);
	transition:
		background 0.3s ease,
		transform 0.3s ease;

	&:hover {
		border-radius: var(
			---Buttons-and-Inputs-button-border-radius-primary,
			999px
		);
		border: var(--Border-Width-thick, 1px) solid
			var(--p-color-border-focus, rgba(59, 141, 245, 1));
		background: var(
			--p-color-bg-fill-magic-secondary-hover,
			rgba(59, 141, 245, 0.24)
		);
	}

	&:active {
		border-radius: var(
			---Buttons-and-Inputs-button-border-radius-primary,
			999px
		);
		border: var(--Border-Width-thick, 1px) solid
			var(--p-color-icon-emphasis-hover, rgba(108, 170, 247, 1));
		background: var(
			--p-color-bg-fill-magic-secondary-active,
			rgba(59, 141, 245, 0.24)
		);
	}
}
